<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/elementui.css"/>
    <script src="js/vue.js"></script>
    <script src="js/element.js"></script>
    <script src="js/axios.min.js"></script>
</head>
<body>
<div id="app">
    <el-form :inline="true" :model="clockingQO" class="demo-form-inline">
        <el-form-item label="状态">
            <el-select v-model="clockingQO.status" clearable placeholder="请选择状态">
                <el-option key="1" label="正常" value="正常">
                </el-option>
                <el-option key="2" label="异常" value="异常">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="日期">
            <el-date-picker
                    v-model="clockingQO.min"
                    type="date"
                    value-format="yyyy-MM-dd"
                    placeholder="选择起始日期">
            </el-date-picker>
        </el-form-item>
        <el-form-item>
            <el-date-picker
                    v-model="clockingQO.max"
                    type="date"
                    value-format="yyyy-MM-dd"
                    placeholder="选择结束日期">
            </el-date-picker>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="search">查询</el-button>
        </el-form-item>
    </el-form>
    <el-table
            :data="records"
            style="width: 100%">
        <el-table-column
                label="序号"
                type="index"
                :index="indexMethod">
        </el-table-column>
        <el-table-column
                label="姓名"
                width="180">
            <template slot-scope="scope">
                <span style="margin-left: 10px">{{ scope.row.staff.name }}</span>
            </template>
        </el-table-column>
        <el-table-column
                label="日期"
                width="180">
            <template slot-scope="scope">
                <span style="margin-left: 10px">{{ scope.row.date }}</span>
            </template>
        </el-table-column>
        <el-table-column
                label="时间"
                width="180">
            <template slot-scope="scope">
                <span style="margin-left: 10px">{{ scope.row.time }}</span>
            </template>
        </el-table-column>
        <el-table-column
                label="状态"
                width="180">
            <template slot-scope="scope">
                <span style="margin-left: 10px">{{ scope.row.status }}</span>
            </template>
        </el-table-column>
    </el-table>
    <br>
    <el-pagination
            background
            layout="prev, pager, next"
            @current-change="goPage"
            :page-count="pageCount">
    </el-pagination>
</div>
<script>
    new Vue({
        el: "#app",
        data: {
            records: [],
            pageCount: 0,
            clockingQO: {
                status: '',
                max: '',
                min: ''
            }
        },
        mounted: function () {
            axios.get("/clocking/list").then(r => {
                this.records = r.data.data.data;
                this.pageCount = r.data.data.totalPage;
            })
        },
        methods: {
            goPage(page) {
                axios.get("/clocking/list", {
                    params: {
                        page
                    }
                }).then(response => {
                    this.records = response.data.data.data;
                })
            },
            indexMethod(index) {
                return index + 1;
            },
            search() {
                axios.get("/clocking/list", {
                    params: this.clockingQO
                }).then(r => {
                    if (r.data.code == 200) {
                        this.records = r.data.data.data;
                        this.pageCount=r.data.data.totalPage;
                    }
                })
            },
        }
    })
</script>
</body>
</html>